{% extends "layout.html" %}

{% block content %}

<div class="">
        <a class="" href="{% url 'agents:agent-list' %}">Volver a los agentes</a>
</div>

<section class="d-flex align-items-center my-4 justify-content-center" style="height: 100%;">
    <div class="rounded shadow" style="width: 360px; height: min-content; padding: 20px; ">
    
        <h1 class="text-center fs-3 mb-2">¡Crea un nuevo soporte!</h1>
        
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        
        <form method="post" class="needs-validation">
            {% csrf_token %}
            <div class="form-group was-validated">
                <label class="form-label" for="email">Dirección de correo electrónico</label>
                {{form.email}}
                <!-- <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">  -->

                <div class="invalid-feedback">
                    Por favor, introduzca su dirección de correo electrónico
                </div>
            </div>
            <div class="form-group was-validated">
                <label class="form-label" for="Username">Nombre de usuario</label>
                {{form.username}}
                <!-- <input type="text" name="username" maxlength="150" class="form-control" required id="id_username">  -->
                <div class="invalid-feedback">
                    Por favor, ingrese su nombre de usuario
                </div>
            </div>
            <div class="form-group was-validated">
                <label class="form-label" for="First name">Nombre</label>
                {{form.first_name}}
                <!-- <input type="text" name="first_name" maxlength="150" class="form-control" required id="id_first_name">  -->
                <div class="invalid-feedback">
                    Por favor, introduzca su nombre
                </div>
            </div>
            <div class="form-group was-validated">
                <label class="form-label" for="First name">Apellidos</label>
                {{form.last_name}}
                <!-- <input type="text" name="last_name" maxlength="150" class="form-control" required id="id_last_name">  -->
                <div class="invalid-feedback">
                    Por favor, introduzca sus apellidos
                </div>
            </div>
            <input class="btn btn-success w-100 mt-3" type="submit" value="Submit">
        </form>
    
    </div>
</section>
{% endblock content %}