{% extends "base.html" %}

{% block title %}Restablecer su contraseña{% endblock %}
{% block content %}
<h1>Restablecer su contraseña</h1>
{% if validlink %}
<p>Por favor ingrese su nueva contraseña dos veces:</p>

<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Change my password" /></p>
</form>
{% else %}
<p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque tiene
    ya ha sido usado. Solicite un nuevo restablecimiento de contraseña.</p>
{% endif %}
{% endblock %}